<footer>
  <div class="col-md-12 col-xs-12 top-footer"></div>
  <div class="container">
    <div class="row">
      <div class="logo-footer col-md-4">
        <img src="assets/images/helloJOB-principal.png">
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 footer-col">

        <div class="bg-title-footer">
        </div>
        <div class="footer-description">
          <span>
            Hellojob.tn est le site d'emploi leader en Tunisie et en Afrique du Nord qui relie les chercheurs d'emploi aux employeurs
            cherchant à embaucher. Les meilleurs employeurs dans la région ajoutent quotidiennement des centaines de nouveaux
            emplois vacants sur la plateforme primée.
          </span>
        </div>
        <div class="bg-title-footer titre-reseaux">
          <span class="title-footer-red">suivez nous</span>
        </div>
        <div class="footer-follow">
          <a href="#">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-google"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fa fa-youtube"></i>
          </a>
          <a href="#">
            <i class="fa fa-pinterest"></i>
          </a>
          <a href="#">
            <i class="fa fa-rss"></i>
          </a>
        </div>
      </div>

      <div class=" col-md-4  footer-col">
        <div class="bg-title-footer">
          <span class="title-footer-black">liens rapides</span>
        </div>
        <ul class="menu-footer">
          <li>
            <a href="#">
              <i class="fa fa-angle-right"></i>Inscription</a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-angle-right"></i>Mon espace</a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-angle-right"></i>Hello sur mobile</a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-angle-right"></i>offre à la une </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-angle-right"></i>inscription newslettre</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-angle-right"></i>Completer Votre cv</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4  footer-col">
        <div class="container-facebook">
          <img src="assets/images/likebox.png" class="img-responsive" alt="">
        </div>
        <a href="#" class="to-top">
          <i class="fa fa-angle-up"></i>
        </a>
      </div>
    </div>
    <!-- row -->

  </div>
  <!-- container -->
  <div class="row footerlink">
    <p>Copyright &copy; 2018, HELLOJOB.TN |
      <a href="#">Privacy Policy</a> |
      <a href="#">Terms & Conditions</a>
    </p>
  </div>
</footer>