@font-face {
    font-family: 'ramsregular';
    src: url('../font/rams-webfont.woff2') format('woff2'),
         url('../font/rams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ramsblack';
    src: url('../font/ramsblack-webfont.woff2') format('woff2'),
         url('../font/ramsblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ramsblack_italic';
    src: url('../font/ramsblack-italic-webfont.woff2') format('woff2'),
         url('../font/ramsblack-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ramsbold';
    src: url('../font/rams-bold-webfont.woff2') format('woff2'),
         url('../font/rams-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ramsbold_italic';
    src: url('../font/rams-bolditalic-webfont.woff2') format('woff2'),
         url('../font/rams-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ramsitalic';
    src: url('../font/rams-italic-webfont.woff2') format('woff2'),
         url('../font/rams-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ramslight';
    src: url('../font/ramslt-webfont.woff2') format('woff2'),
         url('../font/ramslt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ramslight_italic';
    src: url('../font/ramslt-italic-webfont.woff2') format('woff2'),
         url('../font/ramslt-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}