<div class="bloc-option-profil technologie">
  <div class="titre-option-profil souligne">
      <div class="row">
          <div class="col-sm-4">
              Technologies
          </div>
          <!-- /.col-sm-4 -->
      </div>
      <!-- /.row --> 
  </div>
  <!-- /.titre-option-profil -->
  
  <div class="row" *ngIf="technologies.length > 0">
    <div class="col-sm-12">
      <table class="highlight">
        <thead>
          <tr>
            <th>Nom de la technologie</th>
            <th>Pourcentage de maitrise</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let technologie of technologies; let i = index">
            <td>{{technologie?.titre}}</td>
            <td><mat-progress-bar class="margin-top5" mode="determinate" [value]="technologie.pourcentage"></mat-progress-bar> <span>{{technologie?.pourcentage}}%</span></td>
            <td class="action"> 
              <i class="material-icons " [attr.aria-expanded]="!isCollapsed" (click)="onClickModifierTechnologie(technologie.$key)">create</i>            
              <i class="material-icons " (click)="onClickSupprimerTechnologie(technologie.$key)">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.row -->
  <br>
  <div class="row">
      <div class="col-sm-6">
          <div class="txt-infos-profil">
              Ajoutez vos compétences en terme de pourcentage, un atout pour vos candidatures, ...
          </div>
          <!-- /.txt-infos-profil -->
      </div>
      <!-- /.col-sm-6 -->
  </div>
  <!-- /.row -->
  <div id="ajouterTechnologie" class="collapse" [ngbCollapse]="!isCollapsed">
    <div class="well">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="full-width">
            <input type="text" 
            placeholder="Technologie" 
            aria-label="Technologie" 
            matInput 
            [formControl]="inputTitreTechnologie" 
            [matAutocomplete]="auto"
            >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChangeInput($event)">
              <mat-option *ngFor="let technologie of filteredTechnologies | async" [value]="technologie.titre">
                {{technologie.titre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <mat-slider style="width: 100%"
          [ngModel]="(technologieAModifier | async)?.pourcentage"
          (change)="onChangeInput($event)"
          name="pourcentage"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="100"
          min="1"
          max="100"
          color="warn"></mat-slider>
        </div>
        <!-- /.col-sm-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.well -->
  </div>
  <!-- /#ajouterTechnologie -->
  <div class="row">
    <div class="col-xs-6 col-sm-2" *ngIf="!boutonModifier">
      <button *ngIf="!etatChange" class="waves-effect waves-light btn large"     [attr.aria-expanded]="!isCollapsed" (click)="onClickAjouter()" type="button" >ajouter</button>
      <button *ngIf="etatChange"  class="waves-effect waves-light btn large"     (click)="onClickEnregistrerTechnologie()" type="button" >Enregistrer</button>
    </div>
    <div class="col-xs-6 col-sm-2" *ngIf="boutonModifier">
      <button *ngIf="!etatChange" class="waves-effect waves-light btn large"     type="button">Modifier</button>
      <button *ngIf="etatChange"  class="waves-effect waves-light btn large"     (click)="onClickEnregistrerModifTechnologie()" type="button">Enregistrer</button>
    </div>
    <!-- /.col-xs-6 col-sm-2 -->
    <div class="col-xs-6 col-sm-2" *ngIf="etatOuvert && !etatchange">
      <button class="waves-effect waves-light btn large btn-white" type="button" (click)="onClickFermer()" >Fermer</button>
    </div>
    <!-- /.col-xs-6 col-sm-2 -->
    <div class="col-xs-6 col-sm-2" *ngIf="etatChange">
      <button class="waves-effect waves-light btn large btn-white" type="button" (click)="onClickAnnuler()">Annuler</button>
    </div>
    <!-- /.col-xs-6 col-sm-2 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.bloc-option-profil -->