<div class="bloc-option-profil technologie">
  <div class="titre-option-profil souligne">
      <div class="row">
          <div class="col-sm-4">
              Technologies
          </div>
          <!-- /.col-sm-4 -->
      </div>
      <!-- /.row --> 
  </div>
  <!-- /.titre-option-profil -->
  <div class="row">
      <div class="col-sm-6">
          <div class="txt-infos-profil">
              Ajoutez vos compétences en terme de pourcentage, un atout pour vos candidatures, ...
          </div>
          <!-- /.txt-infos-profil -->
      </div>
      <!-- /.col-sm-6 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-sm-12">
      <table class="highlight">
        <thead>
          <tr>
            <th>Nom de la technologie</th>
            <th>Pourcentage de maitrise</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let education of educations; let i = index">
            <td>{{technologie?.titre}}</td>
            <td>{{technologie?.pourcentage}}</td>
            <td class="action"> 
              <i class="material-icons " [attr.aria-expanded]="!isCollapsed" (click)="onClickModifierEducation(education.$key)">create</i>            
              <i class="material-icons " (click)="onClickSupprimerEducation(education.$key)">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.row -->
  <br>
  <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="full-width">
          <input type="text" style="width: 100%"
          placeholder="Ajouter une technologie" 
          aria-label="Number" 
          matInput 
          [formControl]="myControl" 
          [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
        <mat-slider style="width: 100%"
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="100"
        min="1"
        max="100"></mat-slider>
      </div>
      <!-- /.col-sm-8 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-xs-6 col-sm-2">
          <button class="waves-effect waves-light btn large">ajouter</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
      <div class="col-xs-6 col-sm-2">
          <button class="waves-effect waves-light btn large btn-white">ajouter plus</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.bloc-option-profil -->