<div class="bloc-option-profil">
  <div class="titre-option-profil souligne">
    &Eacute;ducation
    <span class="txt-rouge">(Champs obligatoires)</span>
  </div>
  <!-- /.titre-option-profil -->
  <div class="row">
    <div class="col-sm-12">
      <table class="highlight">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Nom de l'école</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let education of educations">
            <td>{{education?.titre}}</td>
            <td>{{education?.nom_ecole}}</td>
            <td>{{education?.date_debut.seconds* 1000 | date}}</td>
            <td>{{education?.date_fin.seconds* 1000 | date}}</td>
            <td>{{education?.description}}</td>
            <td class="action">
              <i class="material-icons ">create</i>
              <i class="material-icons ">rotate_right</i>
              <i class="material-icons ">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.row -->
  <br>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="txt-infos-profil">
          Ajoutez vos qualifications acquises, y compris les certificats ou les diplômes que vous pourriez avoir.
        </div>
        <!-- /.txt-infos-profil -->
      </div>
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
    <div id="ajouterEducation" class="collapse">
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="large">
              <input matInput placeholder="Titre" name="titre" (keyup)="onChangeInput($event)" [ngModel]="test" >
            </mat-form-field>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <mat-form-field class="large">
              <input ngModel matInput placeholder="Nom de l’école" name="nom_ecole" (keyup)="onChangeInput($event)" >
            </mat-form-field>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-2">
            <mat-form-field class="large">
              <input ngModel matInput placeholder="Date début" name="date_debut" (keyup)="onChangeInput($event)">
            </mat-form-field>
          </div>
          <!-- /.col-sm-2 -->
          <div class="col-sm-2">
            <mat-form-field class="large">
              <input ngModel matInput placeholder="Date fin" name="date_fin" (keyup)="onChangeInput($event)">
            </mat-form-field>
          </div>
          <!-- /.col-sm-2 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="large">
              <textarea ngModel matInput placeholder="Ajouter une petite description" name="description" (keyup)="onChangeInput($event)"></textarea>
            </mat-form-field>
          </div>
          <!-- /.col-sm-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.well -->
      
    </div>
    <!-- /#ajouterEducation -->
    
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <button *ngIf="!etatModif" class="waves-effect waves-light btn large" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterEducation" data-target="#ajouterEducation">ajouter</button>
        <button *ngIf="etatModif" class="waves-effect waves-light btn large" type="button" (click)="onClickEnregistrerEducation()">Enregistrer</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
      <div class="col-xs-6 col-sm-2">
        <button class="waves-effect waves-light btn large btn-white">ajouter plus</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.bloc-option-profil -->