<div class="bloc-option-profil">
  <div class="titre-option-profil souligne">
    &Eacute;ducation
    <span class="txt-rouge">(Champs obligatoires)</span>
  </div>
  <!-- /.titre-option-profil -->
  <div class="row">
    <div class="col-sm-12">
      <table class="highlight">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Nom de l'école</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let education of educations; let i = index">
            <td>{{education?.titre}}</td>
            <td>{{education?.nom_ecole}}</td>
            <td><span *ngIf="education.date_debut, else aucuneDate;">{{education?.date_debut | date:'dd/MM/yyyy'}}</span><ng-template #aucuneDate>-</ng-template> </td>
            <td><span *ngIf="education.date_debut, else aucuneDate;">{{education?.date_fin | date:'dd/MM/yyyy'}}  </span><ng-template #aucuneDate>-</ng-template> </td>
            <td>{{education?.description}}</td>
            <td class="action"> 
              <i class="material-icons " [attr.aria-expanded]="!isCollapsed" (click)="onClickModifierEducation(education.$key)">create</i>            
              <i class="material-icons " (click)="onClickSupprimerEducation(education.$key)">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.row -->
  <br>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="txt-infos-profil">
          Ajoutez vos qualifications acquises, y compris les certificats ou les diplômes que vous pourriez avoir.
        </div>
        <!-- /.txt-infos-profil -->
      </div>
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
    <div id="ajouterEducation" class="collapse"  [ngbCollapse]="!isCollapsed">
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="large">
              <input matInput placeholder="Titre" name="titre" (keyup)="onChangeInput($event)" [ngModel]="(educationAModifier | async)?.titre" required #titreFormControl="ngModel">
              
            </mat-form-field>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <mat-form-field class="large">
              <input matInput placeholder="Nom de l’école" name="nom_ecole" (keyup)="onChangeInput($event)" [ngModel]="(educationAModifier | async)?.nom_ecole">
            </mat-form-field>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-2">
            <mat-form-field class="large">
              <input matInput [matDatepicker]="picker" placeholder="Date début" name="date_debut" (dateInput)="onChangeInput($event)" [ngModel]="(educationAModifier | async)?.date_debut">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- /.col-sm-2 -->
          <div class="col-sm-2">
            <mat-form-field class="large">
              <input matInput [matDatepicker]="picker2" placeholder="Date fin" name="date_fin" (dateInput)="onChangeInput($event)" [ngModel]="(educationAModifier | async)?.date_fin">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- /.col-sm-2 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="large">
              <textarea matInput placeholder="Ajouter une petite description" name="description" (keyup)="onChangeInput($event)" [ngModel]="(educationAModifier | async)?.description"></textarea>
            </mat-form-field>
          </div>
          <!-- /.col-sm-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.well -->
      
    </div>
    <!-- /#ajouterEducation -->
    
    <div class="row">
      <div class="col-xs-6 col-sm-2" *ngIf="!boutonModifier">
        <button *ngIf="!etatChange" class="waves-effect waves-light btn large"     [attr.aria-expanded]="!isCollapsed" (click)="onClickAjouter()" type="button" >ajouter</button>
        <button *ngIf="etatChange"  class="waves-effect waves-light btn large"     (click)="onClickEnregistrerEducation()" type="button" >Enregistrer</button>
      </div>
      <div class="col-xs-6 col-sm-2" *ngIf="boutonModifier">
        <button *ngIf="!etatChange" class="waves-effect waves-light btn large"     type="button">Modifier</button>
        <button *ngIf="etatChange"  class="waves-effect waves-light btn large"     (click)="onClickEnregistrerModifEducation()" type="button">Enregistrer</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
      <div class="col-xs-6 col-sm-2" *ngIf="etatOuvert && etatchange">
        <button class="waves-effect waves-light btn large btn-white" type="button" (click)="onClickFermer()" >Fermer</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
      <div class="col-xs-6 col-sm-2" *ngIf="etatChange">
        <button class="waves-effect waves-light btn large btn-white" type="button" (click)="onClickAnnuler()">Annuler</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.bloc-option-profil -->