<div id="content">
  <div class="show">
    <div class="container">
      <div class="overlay">
        <div class="row">
          <div class="col-md-4">
            <div class="jobtext">
              <p class="first">Votre Carriére en une simple recherche</p>
              <p class="secand">Trouvez votre job en une minute</p>
              <p class="third">{{ (emplois | filtre:reactifMotCle:reactifSecteur:reactifPays:reactifContrat:reactifRenumeration:reactifExperience)?.length }} jobs disponibles</p>
            </div>
          </div>
        </div>
        <form #formEmploi="ngForm" class="recherche-home" (ngSubmit)="onClickChercher(formEmploi)">
          <div class="row form">
            <div class="col-md-5">
              <mat-form-field class="validate white">
                <input matInput placeholder="Mots-clé ..." ngModel name="tmpMotCleInput" [(ngModel)]="reactifMotCle">
              </mat-form-field>
            </div>            
            <div class="col-md-3">
              <mat-form-field>
                <mat-select ngModel name="tmpSecteurInput" placeholder="Secteur .." [(ngModel)]="reactifSecteur">
                  <mat-option [value]="undefined" selected>-- Tous les secteurs --</mat-option>
                  <mat-option [value]="secteur[0].secteur" *ngFor="let secteur of secteurs">{{ secteur[0].secteur }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field>
                <mat-select ngModel name="tmpPaysInput" placeholder="Pays .." [(ngModel)]="reactifPays">
                  <mat-option [value]="undefined" selected>-- Tous les pays --</mat-option>
                  <mat-option [value]="lieu[0].lieu" *ngFor="let lieu of lieux">{{ lieu[0].lieu }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-button class="btn-recherche-home">
                  Chercher <i class="fa fa-search"></i>
              </button>
              <a href="#rechercheAvancee" class="recherche-avancee" data-toggle="collapse" aria-expanded="false" aria-controls="rechercheAvancee">Recherche avancée</a>
              
              
            </div>
          </div>
          <div class="collapse" id="rechercheAvancee">
            <div class="well">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select name="tmpTypeEmploiInput" placeholder="Contrat de type .." [(ngModel)]="reactifContrat">
                      <mat-option [value]="undefined" selected>-- Tous les types --</mat-option>
                      <mat-option [value]="typeEmploi[0].type_contrat" *ngFor="let typeEmploi of typeEmplois">{{ typeEmploi[0].type_contrat }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select name="tmpRenumerationInput" placeholder="Rémunération .." [(ngModel)]="reactifRenumeration">
                      <mat-option [value]="undefined" selected>-- Toutes les rénumérations --</mat-option>
                      <mat-option [value]="renumeration[0].renumeration" *ngFor="let renumeration of renumerations">{{ renumeration[0].renumeration }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select name="tmpExperienceInput" placeholder="Niveau d'expérience .." [(ngModel)]="reactifExperience">
                        <mat-option [value]="undefined" selected>-- Tous les expériences --</mat-option>    
                      <mat-option [value]="experience[0].experience" *ngFor="let experience of experiences">{{ experience[0].experience }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
        </form>
        
      </div>
      <div id="Carousel" class="carousel slide">
                 
        <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
        </ol>
          
        <!-- Carousel items -->
        <div class="carousel-inner">
          <!-- TODO gestion Item ! -->
          <div class="item active">
            <div class="row">
              <div class="col-md-3" *ngFor="let emploiGrouped of emploisGroupedBySecteur; let i = index">
                <div class="slidesilk">
                  <div class="item-slide">
                    <p class="link-item">
                      <i class="fa fa-ellipsis-h"></i>
                    </p>
                    <p class="secteur">{{ emploiGrouped[0].secteur }}</p>
                    <p class="offre-count">{{ emploiGrouped.length }} Offre</p>
                  </div>
                </div>
                <!-- slidesilk -->
              </div>
              <!-- col-md-3 -->
            </div>
          </div>
          
          
        </div><!--.carousel-inner-->
        <!--<a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>-->
      </div><!--.Carousel-->
    </div>
    <!-- /.container -->

  </div>
  <div class="container">
    <div class="note">
      <div class="row">
        <div class="col-md-8">
          <p>Vous cherchez un job?
            <span class="recherche">Dites</span>
            <span class="hello">HELLO </span>
            <span class="recherche">! On s'occupe du reste !</span>
          </p>
          <span class="download-txt">Téléchargez votre CV pour postuler facilement aux offres d'emploi</span>
        </div>
        <div class="col-md-2 col-xs-6">
          <button class="add-cv waves-effect waves-light">Ajouter votre CV</button>
        </div>
        <div class="col-md-2 col-xs-6">
          <span class="hello-txt">hello</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <div class="row">
    <div class="col-md-12 col-xs-12" id="app-box">
      <div class="col-md-6 col-xs-12 left-side">
        <div class="img-mobile">
          <img src="assets/images/mobile-app.png" alt="Version Mobile">
        </div>
        <!-- /.img-mobile -->
        <div class="part1">hello
          <span class="job-txt">job</span>
        </div>
        <div class="part2">


          <div class="mobileapp">
            <p>Disponible sur iOS et Android</p>
            <img src="assets/images/playstore.svg" class="playstore">
            <img src="assets/images/appstore.svg" class="appstore">
          </div>
        </div>
        <div class="part3"></div>

      </div>
      <div class="col-md-6 col-xs-12 right-side pull-right">
        <div class="titre-inscription" *ngIf="!isAuthenticated">
          une simple inscription
        </div>
        <!-- /.titre-inscription -->
        <div class="titre-inscription" *ngIf="isAuthenticated">
          Accéder à votre compte
        </div>
        <!-- /.titre-inscription -->
        <div class="text-inscription" *ngIf="!isAuthenticated">
          Avec la vision d’un expert et une approche dédiée métier qui fait la différence, nous abordons les défis en ressources humaines
          avec confiance, car notre équipe est expérimentée dans chaque secteur et chaque discipline que nous proposons.
        </div>
        <!-- /.text-inscription -->
        <div class="text-inscription" *ngIf="isAuthenticated">
          En complétant votre compte vous aurez plus de chance d'être consulté
        </div>
        <!-- /.text-inscription -->
        
        <div class="btn-container">
          <button mat-button class="btn-inscription bg-blanc" (click)="openDialog()" *ngIf="!isAuthenticated">
              Inscription
          </button>
          <button mat-button class="btn-inscription bg-blanc" (click)="onClickCompte()" *ngIf="isAuthenticated">
              Mon compte
          </button>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-12 col-xs-12" id="newslettre">
      <div class="col-md-5 col-xs-12 col-md-offset-1 left-side">
        <div class="bloc-job-recent">
          <h2 class="titre-job-home">JOBS récement ajoutés</h2>
          <div class="jobs" *ngIf="emplois; let emplois; else loading">
          
            <div class="item-job" *ngFor="let emploi of emplois | slice:0:4">
              <div class="container-img-offre">
                <img class="img-offre" alt="nom de la société" src="assets/images/jobicon.png" />
              </div>
              <div class="jobdetail">
                <h3 class="titre-offre" *ngIf="emploi.titre">{{ emploi.titre}}</h3>
                <span class="contrat-offre" *ngIf="emploi.type_contrat">{{ emploi.type_contrat}}</span>
                <span class="type-offre" *ngIf="emploi.type_temp">{{ emploi.type_temp}}</span>
                <div class="clearfix"></div>
                <p class="societe-offre">{{ emploi.lieu}} -
                  <span>{{ emploi.secteur}}</span>
                </p>
                <!--<p class="adresse-offre">16 rue tarek ibn zied menzah 5-2091</p>-->
              </div>
              <div class="clearfix"></div>
              <a href="#" class="detail-offre">+ Détails</a>
            </div>
          </div>
          <ng-template #loading>Chargement Jobs&hellip;</ng-template>
        </div>
        <!-- /.bloc-job-recent -->

      </div>
      <div class="col-md-6 col-xs-12 right-side">
        <div class="newslettre-box">
          <p class="capitalize">Inscrivez vous</p>
          <p class="capitalize">gratuitement</p>
          <span class="normal">à</span>
          <span class="hello-text">hello </span>
          <span class="normal">news</span>
          <input type="text" placeholder="Newslettre" class="white">
          <button class="waves-effect waves-light">inscription</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>



  </div>
  <!-- row -->
 
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 partner-title">
        <h3>Nos partenaires</h3>
        
      </div>
      <div class="col-md-12">
        <div id="Carousel2" class="carousel slide">
  
          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
          </ol>
          
          <div class="carousel-inner">
  
            <ng-container *ngFor="let item of imgPartenaire; let i = index">
              <div class="item" [ngClass]="{'active': i === 0 }" *ngIf="i % 4 === 0">
                <div class="row">
                  <div class="col-md-3" *ngFor="let picto of imgPartenaire|slice:i:i + 4; let i1 = index">
                    <a href="#" class="thumbnail"><img [attr.src]="picto" /></a>
                  </div>
                  
                </div>
                <!--.row-->
              </div>
              <!--.item-->
            </ng-container>
  
          </div>
          <!--.carousel-inner-->
          <a data-slide="prev" [routerLink]="['/']" (click)="onClickPrev()" class="left carousel-control">‹</a>
          <a data-slide="next" [routerLink]="['/']" (click)="onClickNext()" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
  
      </div>
      
      <div class="clearfix"></div>
      <!-- /.clearfix -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- content -->