<form #f="ngForm" (ngSubmit)="onSubmitInscription(f)">
    <div mat-dialog-content class="pop-up">
        <div class="">
            <div class="">
                <div class="row form">
                    <div class="col-sm-6 col-sm-push-3">
                        <div class="titre-recherche cnx">
                            Inscription Rapide
                        </div>
                        <!-- /.titre-recherche -->

                        <mat-form-field>
                            <input matInput placeholder="Nom d'utilisateur" ngModel name="nom_utilisateur" required>
                        </mat-form-field>
                        <!-- /.input-field -->
                        <mat-form-field>
                            <input matInput ngModel placeholder="Email" name="email" email required #emailFormControl="ngModel">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Veuillez entrer une adresse email valide !
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email est <strong>Obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- /.input-field -->
                        <mat-form-field hintLabel="6 charactères au minimum">
                            <input type="password" matInput placeholder="Your password" ngModel name="password"
                                required minlength="6" #pwInput="ngModel">
                            <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
                            <mat-error>Au minimum 6 charactères</mat-error>
                        </mat-form-field>
                        <!-- /.input-field -->


                        <!-- /.bloc-connexion -->

                    </div>
                    <!-- /.col-sm-6 col-sm-push-3 -->
                </div>
                <!-- /.row -->

            </div>
        </div>
    </div>

    <div class="row pop-up-footer">
        <div class="col-sm-6">
            <button mat-button (click)="onNoClick()" class="btn bg-rouge color-blanc">Fermer</button>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6">
            <button mat-button style="float: right" class="bg-rouge color-blanc">
                Inscription
            </button>
        </div>
        <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
</form>