<div class="container"><div class="separation"></div></div>
  <!-- /.container -->

  <div class="bloc-profil">
      <div class="container">
          <div class="avatar">
              <img src="img/avatar.jpg" class="img-circle shadow" alt="" width="80">
          </div>
          <!-- /.avatar -->
          <div class="desc-profil">
              <div class="nom-membre">
                {{utilisateur?.nom_utilisateur}}
              </div>
              <!-- /.nom-membre -->
              <div class="nom-profil">
                {{utilisateur?.nom}}
              </div>
              <!-- /.nom-membre -->
              <div class="clearfix"></div>
          </div>
          <!-- /.desc-profil -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.bloc-profil -->

  <div class="menu-profil">
      <a href="" class="active">
          <i class="material-icons">error</i>
          <span>Profil</span>
      </a>
      <a href="">
          <i class="material-icons">error</i>
          <span>Candidature</span>
      </a>
      <a href="">
          <i class="material-icons">notifications_active</i>
          <span>Alerte Job</span>
      </a>
      <a href="">
          <i class="material-icons">favorite</i>
          <span>Sauvegargdés</span>
      </a>
  </div>
  <!-- /.menu-profil -->
  
  <div class="container">
    <form #formProfil="ngForm" (ngSubmit)="onClickMettreAJour(formProfil)">
      <div class="info-etape">
          Compléter votre profil : 4 étapes restantes
      </div>
      <!-- /.info-etape -->
      <div class="bloc-option-profil">
            <div class="row">
                <div class="col-sm-6">
                    <div class="titre-option-profil">
                        Uploader votre CV
                    </div>
                    <!-- /.titre-option-profil -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="highlight">
                            <thead>
                                <tr>
                                <th>CV</th>
                                <th>Actions</th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr>
                                <td>
                                    <mat-progress-bar *ngIf="(uploadCvPercent | async) && (uploadCvPercent | async)!==100" mode="determinate" [value]="uploadCvPercent | async"></mat-progress-bar>

                                    <a *ngIf="(uploadCvPercent | async)===100" [href]="downloadURL | async">Votre CV</a>
                                </td>
                                <td class="action"> 
                                    <i *ngIf="(uploadCvPercent | async)===100" class="material-icons " (click)="onClickSupprimerCV(cv.$key)">delete</i>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <!-- /.col-sm-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="button" class="bg-rouge" mat-button color="warn" mat-flat-button (click)="fileInput.click()">
                                Uploader <i class="fa fa-search"></i>
                            </button>
                            <input hidden type="file" #fileInput class="hidden" (change)="uploadFile($event)">
                            
                            
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.bloc-option-profil -->
      <div class="bloc-option-profil">
          <div class="row">
              <div class="col-sm-6">
                  <div class="titre-option-profil">
                      Quel type de job vous recherchez?
                  </div>
                  <!-- /.titre-option-profil -->
                  <div class="row">
                      <div class="col-xs-4">
                          <!-- <button class="waves-effect waves-light btn btn-type-contrat large (class.active disponible)">plein temps</button> -->
                          <button type="button" mat-flat-button [ngClass]="{'bg-rouge': typeContrat === 'plein temps'}" (click)="onClickTypeContrat('plein temps')" class="bg-blanc large btn-type-contrat">plein temps</button>
                          
                      </div>
                      <!-- /.col-xs-6 -->
                      <div class="col-xs-4">
                          <!-- <button class="waves-effect waves-light btn btn-type-contrat large (class.active disponible)">temps partiel</button> -->
                          <button type="button" mat-flat-button [ngClass]="{'bg-rouge': typeContrat === 'temps partiel'}" (click)="onClickTypeContrat('temps partiel')" class="bg-blanc large btn-type-contrat">temps partiel</button>
                      </div>
                      <!-- /.col-xs-6 -->
                  </div>
                  <!-- /.row -->
              </div>
              <!-- /.col-sm-6 -->
              <div class="col-sm-6">
                  <div class="titre-option-profil">
                      Résumé
                  </div>
                  <!-- /.titre-option-profil -->
                  <div class="input-group container-editable">
                      <span class="edit-champ"><i class="material-icons">create</i></span>

                      <textarea [ngModel]="resumeAF" name="resume" id="textarea1" class="champ-input materialize-textarea" placeholder="Présentez-vous avec un court résumé et captez l'attention des employeurs en mettant en évidence vos meilleures caractéristiques et compétences." ></textarea>
                      <div class="row">
                          <div class="col-sm-4">
                            <button type="button" class="bg-rouge" mat-button color="warn" mat-flat-button (click)="onClickEnregistrerResume(formProfil)">
                                Enregistrer <i class="fa fa-search"></i>
                            </button>
                          </div>
                          <!-- /.col-sm-2 -->
                      </div>
                      <!-- /.row -->
                  </div>
                  <!-- /.input-group -->
                  
              </div>
              <!-- /.col-sm-6 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.bloc-option-profil -->

      <app-education     [groupFormEducation]="formProfil" [keyUtilisateur]="utilisateur.$key"></app-education>
      <app-experience   [groupFormExperience]="formProfil" [keyUtilisateur]="utilisateur.$key"></app-experience>
      <app-langue           [groupFormLangue]="formProfil" [keyUtilisateur]="utilisateur.$key"></app-langue>
      <app-technologie [groupFormTechnologie]="formProfil" [keyUtilisateur]="utilisateur.$key"></app-technologie>

      
      
      

      <div class="bloc-option-profil">
          <div class="titre-option-profil souligne">
              <div class="row">
                  <div class="col-sm-4">
                      Motivations
                  </div>
                  <!-- /.col-sm-4 -->
              </div>
              <!-- /.row --> 
          </div>
          <!-- /.titre-option-profil -->
          <div class="row">
              <div class="col-sm-6">
                  <div class="txt-infos-profil">
                      Raffiner votre rénumération annuelle souhaitée et les axes de motivation, ...
                  </div>
                  <!-- /.txt-infos-profil -->
              </div>
              <!-- /.col-sm-6 -->
          </div>
          <!-- /.row -->
          <div class="row">
              <div class="col-sm-5">
                <app-renumeration [groupFormRenumeration]="formProfil" [keyUtilisateur]="utilisateur.$key"></app-renumeration>
                <br><label class="label-input">Axe de motivation</label><br>
                <textarea class="champ-input materialize-textarea" [ngModel]="axeAF" name="axeMotivation" style="width:100%; height:120px;"></textarea>
                
              </div>
              <!-- /.col-sm-4 -->
              <div class="col-sm-6 col-sm-push-1">
                  <div class="input-group input-sivp">
                      <div class="row">
                          <div class="col-sm-4">
                              
                          </div>
                          <!-- /.col-sm-3 -->
                          <div class="col-sm-5">
                            <mat-slide-toggle 
                            color="warn"
                            (change)="onClickStatusSivp()"
                            [checked]="dureeSivpStatus">
                            Eligible au SIVP</mat-slide-toggle>
                          </div>
                          <!-- /.col-sm-3 -->
                      </div>
                      <!-- /.row -->
                      <label class="label-input txt-sivp">Durée SIVP restante ( <span *ngIf="dureeSivpAF!==undefined">{{dureeSivpAF}}</span> mois )</label>
                      <div class="range-field">
                          <label class="espacement"></label>
                          <mat-slider style="width: 100%"
                            name="dureeSivp"
                            
                            [disabled]="!dureeSivpStatus"
                            [(ngModel)]="dureeSivpAF"
                            (change)="onChangeSivp($event)"
                            thumbLabel
                            [displayWith]="formatLabel"
                            tickInterval="24"
                            min="1"
                            max="24"
                            color="warn">
                          </mat-slider>
                          <div class="pull-left pourcentage">
                              1
                          </div>
                          <!-- /.pull-left pourcentage -->
                          <div class="pull-right pourcentage">
                              24
                          </div>
                          <!-- /.pull-left pourcentage -->
                          <div class="clearfix"></div>
                          <!-- /.clearfix -->
                        </div>
                  </div>
                  <!-- /.input-group -->
              </div>
              <!-- /.col-sm-8 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.bloc-option-profil -->
      
      <div class="bloc-option-profil">
          <div class="row">
              <div class="col-sm-4">
                  <button class="waves-effect waves-light btn large">mettre à jour le profil</button>
              </div>
              <!-- /.col-sm-4 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.bloc-option-profil -->

      <div class="bloc-option-profil">
          <div class="titre-option-profil souligne">
              <div class="row">
                  <div class="col-sm-4">
                      CHANGER LE MOT DE PASSE
                  </div>
                  <!-- /.col-sm-4 -->
              </div>
              <!-- /.row --> 
          </div>
          <!-- /.titre-option-profil -->
          <div class="row">
              <div class="col-sm-4">
                  <div class="input-group">
                      <label class="label-input">Mot de passe actuel</label>
                      <input type="password" class="champ-input" placeholder="">
                  </div>
                  <!-- /.input-group -->
              </div>
              <!-- /.col-sm-4 -->
              <div class="col-sm-4">
                  <div class="input-group">
                      <label class="label-input">Nouveau mot de passe</label>
                      <input type="password" class="champ-input" placeholder="">
                  </div>
                  <!-- /.input-group -->
              </div>
              <!-- /.col-sm-4 -->
              <div class="col-sm-4">
                  <div class="input-group input-mp">
                      <button class="waves-effect waves-light btn large">CHANGER LE MOT DE PASSE</button>
                  </div>
                  <!-- /.input-group -->
              </div>
              <!-- /.col-sm-4 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.bloc-option-profil -->

      <div class="bloc-option-profil">
          <div class="row">
              <div class="col-sm-4">
                  <button class="waves-effect waves-light btn btn-type-contrat large">supprimer mon compte</button>
              </div>
              <!-- /.col-sm-4 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.bloc-option-profil -->
    </form>  
  </div>
  <!-- /.container -->
