<div class="bloc-option-profil">
  <div class="titre-option-profil souligne">
    Expérience
    <span class="txt-rouge">(Champs obligatoires)</span>
  </div>
  <!-- /.titre-option-profil -->
  <div class="row">
    <div class="col-sm-12">
      <table class="highlight">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Nom de la société</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let experience of experiences; let i = index">
            <td>{{experience?.titre}}</td>
            <td>{{experience?.nom_societe}}</td>
            <td><span *ngIf="experience.date_debut, else aucuneDate;">{{experience?.date_debut | date:'dd/MM/yyyy'}}</span><ng-template #aucuneDate>-</ng-template> </td>
            <td><span *ngIf="experience.date_debut, else aucuneDate;">{{experience?.date_fin | date:'dd/MM/yyyy'}}  </span><ng-template #aucuneDate>-</ng-template> </td>
            <td>{{experience?.description}}</td>
            <td class="action">
              <i class="material-icons " (click)="onClickModifierExperience(experience.$key)" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterExperience" data-target="#ajouterExperience">create</i>            
              <i class="material-icons " (click)="onClickSupprimerExperience(experience.$key)">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.row -->
  <br>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="txt-infos-profil">
          Listez tous vos postes précédents ici. Montrez aux employeurs votre expérience.
        </div>
        <!-- /.txt-infos-profil -->
      </div>
      <!-- /.col-sm-6 -->
    </div>
    <!-- /.row -->
    <div id="ajouterExperience" class="collapse">
      <div class="well">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="large">
              <input matInput placeholder="Titre" name="titreExperience" (keyup)="onChangeInput($event)" [ngModel]="(experienceAModifier | async)?.titre" required >
              
            </mat-form-field>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <mat-form-field class="large">
              <input matInput placeholder="Nom de la société" name="nom_societeExperience" (keyup)="onChangeInput($event)" [ngModel]="(experienceAModifier | async)?.nom_societe">
            </mat-form-field>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-2">
            <mat-form-field class="large">
              <input matInput [matDatepicker]="picker3" placeholder="Date début" name="date_debutExperience" (dateInput)="onChangeInput($event)" [ngModel]="(experienceAModifier | async)?.date_debut">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- /.col-sm-2 -->
          <div class="col-sm-2">
            <mat-form-field class="large">
              <input matInput [matDatepicker]="picker4" placeholder="Date fin" name="date_finExperience" (dateInput)="onChangeInput($event)" [ngModel]="(experienceAModifier | async)?.date_fin">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- /.col-sm-2 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="large">
              <textarea matInput placeholder="Ajouter une petite description" name="descriptionExperience" (keyup)="onChangeInput($event)" [ngModel]="(experienceAModifier | async)?.description"></textarea>
            </mat-form-field>
          </div>
          <!-- /.col-sm-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.well -->
      
    </div>
    <!-- /#ajouterExperience -->
    
    <div class="row">
      <div class="col-xs-6 col-sm-2" *ngIf="!boutonModifier">
        <button *ngIf="!etatChange" class="waves-effect waves-light btn large" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterExperience" data-target="#ajouterExperience" (click)="onClickAjouter()">ajouter</button>
        <button *ngIf="etatChange" class="waves-effect waves-light btn large"  type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterExperience" data-target="#ajouterExperience" (click)="onClickEnregistrerExperience()">Enregistrer</button>
      </div>
      <div class="col-xs-6 col-sm-2" *ngIf="boutonModifier">
        <button *ngIf="!etatChange" class="waves-effect waves-light btn large" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterExperience" data-target="#ajouterExperience" >Modifier</button>
        <button *ngIf="etatChange" class="waves-effect waves-light btn large"  type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterExperience" data-target="#ajouterExperience" (click)="onClickEnregistrerModifExperience()">Enregistrer</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
      <div class="col-xs-6 col-sm-2" *ngIf="etatOuvert">
        <button class="waves-effect waves-light btn large btn-white" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterExperience" data-target="#ajouterExperience" (click)="onClickFermer()">Fermer</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
      <div class="col-xs-6 col-sm-2" *ngIf="etatChange">
        <button class="waves-effect waves-light btn large btn-white" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="ajouterExperience" data-target="#ajouterExperience" (click)="onClickAnnuler()">Annuler</button>
      </div>
      <!-- /.col-xs-6 col-sm-2 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.bloc-option-profil -->